*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 600px) {
  html {
    font-size: 15px;
    /* Adjust font size for smaller screens */
  }

}

@media (max-width: 400px) {
  html {
    font-size: 12px;
    /* Further adjust font size for very small screens */
  }
}


.app-header {
  padding: 15px;
  background: #8197E4;
  text-align: center;
  color: white;
  font-size: 25px;
}

.app-title {
  font-weight: bold;
}

#app-content {
  display: flex;
  flex-direction: row;
}

#reset-button {
  display: block;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  cursor: pointer;
  padding: 10px;
  background-color: #8197E4;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
  width: 150px;
  height: 48px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#reset-button:active {
  transform: translateY(4px);
  background-color: #637ee0ae;
}

.tasks-section {
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  
  .task-label {
    margin-left: 35px;
    margin-top: 40px;
  }


.container {
  display: block;
  cursor: pointer;
  position: absolute;
  right: 95%;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

@media (max-width: 600px) {
  .container {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 85%;
  }

}

@media (max-width: 400px) {
  .container {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 87%;
  }
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #8197E4;
  /* Custom*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #1a3cb6;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

hr {
  height: 2px;
  border-width: 0;
  color: black;
  background-color: black;
  margin: 20px;
  position: relative;
}